* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  align-items: none;
  box-sizing: border-box;
}


.container {
  max-width: 1440px;
  padding: 0 15px;
}


body {
background-color: black;
}

h1 {
  font-size: 200px;
  font-family: 'Iceberg';
  color: rgb(112, 112, 112);
  text-align: center;
}

.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.main .txt h1 {
  position: absolute;
  font-family: 'Creepster';
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 70px;
  margin-left: 80px;
margin-top: -200px;
  
  color: #FFFFFF;
}


.main .txt p {
  font-family: 'Damion';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 55px;
margin-left: 80px;
margin-top: -150px;
/* identical to box height */


color: #FFFFFF;
}

.main img {
  margin-top: -100px;
}

.by {
  position: absolute;
  display: flex;
  align-items: center;
  margin-top: -300px;
  margin-left: 80px;
}

.by h1 {
  margin-right: 40px;
  font-size: 40px;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.by button {
  width: 237.7px;
height: 77px;
left: calc(50% - 237.7px/2 - 365.15px);
top: calc(50% - 77px/2 + 251.5px);

background: rgba(119, 123, 125, 0.67);
border-radius: 5.8587px;
border: 1px solid black;
color: white;
margin-right: 10px;
}

footer {
  position: absolute;
  display: flex;
  margin-top: -100px;
}

footer img {
  margin-left: 80px;
}

footer h1 {
  font-family: 'Damion';
  font-size: 30px;
  color: white;
  margin-left: 10px;
}
